/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        bkspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        capsWord: capsWord {
            compatible = "zmk,behavior-caps-word";
            label = "CAPSWORD";
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            continue-list = <MINUS>;
        };

        myht: my_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <400>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        lt_bkspc: layer_tap_bkspc {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <400>;
            quick-tap-ms = <200>;
            bindings = <&mo>, <&bkspc_del>;
        };
    };

    combos {
        compatible = "zmk,combos";

        capsLockCombo {
            bindings = <&kp CAPSLOCK>;
            key-positions = <28 31>;
        };

        capsWordCombo {
            bindings = <&capsWord>;
            key-positions = <27 32>;
        };

        menuCombo {
            bindings = <&kp K_CONTEXT_MENU>;
            key-positions = <26 33>;
        };

        escCombo {
            bindings = <&kp ESCAPE>;
            key-positions = <3 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE     &kp Q        &kp W           &kp E                &kp R        &kp T                     &kp Y                &kp U                   &kp I                 &kp O                &kp P          &bkspc_del
&mt LCTRL TAB  &mt LCMD A   &mt LEFT_ALT S  &mt LCTRL D          &mt LSHFT F  &kp G                     &kp H                &myht RSHFT J           &myht RCTRL K         &myht RIGHT_ALT L    &mt RGUI SEMI  &kp SQT
&kp LSHFT      &mt LCTRL Z  &kp X           &kp C                &kp V        &kp B                     &kp N                &kp M                   &kp COMMA             &kp DOT              &kp FSLH       &kp RIGHT_SHIFT
                                            &mt LEFT_ALT ESCAPE  &lt 1 TAB    &myht LEFT_SHIFT ENTER    &myht RSHFT SPACE    &lt_bkspc 2 0           &mt RIGHT_WIN DELETE
            >;
        };

        lower {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none      &kp PAGE_UP    &kp HOME  &kp UP_ARROW  &kp END    &none               &none             &kp AMPERSAND    &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BSPC
&none      &kp PAGE_DOWN  &kp LEFT  &kp DOWN      &kp RIGHT  &none               &none             &kp DOLLAR       &kp PERCENT   &kp LCTRL             &none                  &kp NON_US_BACKSLASH
&kp LSHFT  &none          &none     &none         &none      &none               &none             &kp EXCLAMATION  &kp AT_SIGN   &kp HASH              &none                  &none
                                    &kp C_NEXT    &trans     &kp C_PLAY_PAUSE    &kp C_PLAY_PAUSE  &mo 3            &kp C_NEXT
            >;
        };

        raise {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp GRAVE  &kp LESS_THAN  &kp GREATER_THAN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &none     &none    &kp N7        &kp NUMBER_8  &kp N9        &kp N0  &kp BSPC
&kp TILDE  &kp MINUS      &kp UNDERSCORE    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none     &none    &kp NUMBER_4  &kp N5        &kp NUMBER_6  &none   &kp PIPE
&kp LSHFT  &kp PLUS       &kp EQUAL         &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none     &none    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none   &none
                                            &kp LGUI              &mo 3                  &kp N0    &kp RET  &trans        &kp RALT
            >;
        };

        adjust {
            bindings = <
&none  &kp F1  &kp F2   &kp F3   &kp F4   &none     &bt BT_SEL 0  &none         &kp RS(INS)  &none  &kp PRINTSCREEN  &none
&none  &kp F5  &kp F6   &kp F7   &kp F8   &none     &bt BT_SEL 1  &kp CAPSLOCK  &none        &none  &none            &none
&none  &kp F9  &kp F10  &kp F11  &kp F12  &none     &none         &kp C_MENU    &none        &none  &none            &bt BT_CLR
                        &trans   &trans   &tog 4    &trans        &trans        &trans
            >;
        };

        gaming {
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E         &kp R  &kp T        &kp Y      &kp U                    &kp I      &kp O       &kp P          &kp BACKSPACE
&kp TAB     &kp A  &kp S  &kp D         &kp F  &kp G        &kp H      &kp J                    &kp K      &kp L       &kp SEMICOLON  &kp SQT
&kp LSHFT   &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N      &kp M                    &kp COMMA  &kp PERIOD  &kp SLASH      &kp RSHFT
                          &kp LEFT_ALT  &kp P  &kp ENTER    &kp SPACE  &mt C_NEXT C_PLAY_PAUSE  &to 0
            >;
        };
    };
};
